.mybuttonAbout {
  height: 40px;
  width: 100px;
  border-radius: 25px;
  background: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
  font-family: 'Damion', cursive;
  font-size: larger;
  border: none;
  color: rgb(161, 161, 161);
  transition: 500ms;
  z-index: 1050;
  top: 5px;
  left: 60px;
}

.mybuttonAbout:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}

.textAbout{
  color: white;
  text-decoration: none;
  font-family: 'Damion', cursive;
  font-size: 18px;
}

.mybuttonHome {
  height: 40px;
  width: 100px;
  border-radius: 25px;
  background: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  cursor: pointer;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
  font-family: 'Damion', cursive;
  font-size: larger;
  border: none;
  color: rgb(161, 161, 161);
  transition: 500ms;
  z-index: 1050;
  top: 5px;
  left: 170px;
}

.mybuttonHome:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}

.textHome{
  color: white;
  text-decoration: none;
  font-family: 'Damion', cursive;
  font-size: 18px;
}

.logout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 1050;
  border-radius: 25px;
  top: 0px;
  left: 0px;
}
  
.logout:hover {
  border-radius: 25px;
  box-shadow: -5px -5px 15px #767676, 5px 5px 15px #767676, inset 5px 5px 10px #767676, inset -5px -5px 10px #767676;
  color: #d6d6d6;
  transition: 500ms;
}

.logout:active {
  transform: translateY(1px);
}

.mybuttonAbout:active {
  transform: translateY(1px);
}

.mybuttonHome:active {
  transform: translateY(1px);
}
  