
.button {
  --glow-color: rgb(141, 255, 150);
  --glow-spread-color: rgba(123, 255, 123, 0.781);
  --enhanced-glow-color: rgb(206, 255, 209);
  --btn-color: rgb(61, 136, 70);
  border: .25em solid var(rgba(0, 111, 0, 0.755));
  padding: 1em 3em;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  color: black;
  z-index: 1000;
 }
 
 .button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 .button:hover {
  transition: 1000ms;
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 .button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }

.text{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-shadow: 4px 4px 8px white;
  -webkit-text-stroke: 0.2px white;
  margin: 5px;
}

.text{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-shadow: 4px 4px 8px white;
  -webkit-text-stroke: 0.2px white;
  margin: 5px;
}

.h1{
  font-family: 'Creepster', cursive;
  color: #0D3300;
  text-shadow: 4px 4px 8px black;
  -webkit-text-stroke: 0.2px #34C800;
  margin-bottom: 260px;
}

.h2{
  font-family: 'Creepster', cursive;
  color: #0D3300;
  text-shadow: 4px 4px 8px black;
  -webkit-text-stroke: 0.2px #34C800;
}

.all{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/378/891/desktop-wallpaper-rick-and-morty-poster-rick-and-morty-portal-iphone-thumbnail.jpg') ;
  background-size: cover;
  background-position: center;
  z-index: 1050;
  border-radius: 40px;
  top: 100px;
  left: 36.5%;
  width:24%;
  height:70%;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  transition: 500ms;
}

.all:hover{
  transform: scale(1.05);
  border: 1px solid rgb(255, 238, 0);
  transition: 1000ms;
}

.p{
  color: rgb(255, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 4px 4px 8px rgb(0, 0, 0);
  -webkit-text-stroke: 0.2px white;
  margin-bottom: 5px;

}

.input{
  border-radius: 25px;
  box-shadow: -5px -5px 5px #76767674, 5px 5px 5px #7676767a, inset 5px 5px 5px #76767679, inset -5px -5px 5px #76767682;
  transition: 500ms;
  margin-bottom: 10px;
  width:183px;
  height:20px;
  z-index: 1050;
}

.input:hover {
  box-shadow: 3px 3px 7px rgba(255, 255, 255, 0.3);
  border-radius: 40px;
}

.input:active {
  transform: translateY(1px);
}

